{% extends 'layout.html' %}
{% block title %}Liste des tâches{% endblock %}
{% block main %}
{# table>caption+(thead>tr>th*3)+(tbody>tr>td*3)+(tfoot>tr>th[collspan=3]) #}
<h1>Gestion des tâches</h1>
<table>
    <caption>Liste des tâches</caption>
    <thead>
    <tr>
        <th>Identifiant</th>
        <th>Description</th>
        <th>Éditer</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.description }}</td>
        <td><a style="color: red" href="{{url_for('task_edit', task_id=task.id)}}">&#128221;</a></td>
        <td><a style="color: red" href="{{url_for('task_del', task_id=task.id)}}">&cross;</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th collspan="6">{{tasks | count}} tâches</th>
    </tr>
    </tfoot>
</table>

<form action="{{url_for('task_add')}}"><button type="submit">Ajouter une tâche</button></form>
{% endblock %}
